<!DOCTYPE html>
<head>
    <title></title>
</head>
<body>
    <h1>Hello, how are you?</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="input_text">Input-keun:</label><br><br>
        <input type="text" id="input_text" name="input_text"><br><br>
        <button type="submit">Submit-keun</button>
    </form>

    <table>
        {% for input in inputs%}
        <tr>
            <td><p>{{input.input_text}}</p></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>